@page "/tickets/create/"
@attribute [Authorize(Roles = "Administrator")]

@inject ITicketRepository _repo
@inject ICustomerRepository _customerRepo
@inject NavigationManager _navManager
@inject IToastService _toastService

<h3>Create Ticket</h3>
<hr/>
<br/>
@if (!isSuccess)
{
    <ErrorMessage Message="Something Went Wrong With the Operation"/>
}

<EditForm Model="Model" OnValidSubmit="HandleCreate">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group">
        <label for="title">Ticket Title</label>
        <InputText @bind-Value="Model.Title" class="form-control" id="title"/>
    </div>
    <div class="form-group">
        <label for="summary">Summary</label>
        <InputText @bind-Value="Model.Summary" class="form-control" id="summary"/>
    </div>
    <div class="form-group">
        <label for="time">Time</label>
        <InputNumber @bind-Value="Model.Time" class="form-control" id="time"/>
    </div>
    <div class="form-group">
        <label for="author">Customer</label>
        <select @bind="Model.CustomerId" class="form-control" id="author">
            <option value="">-- Select customer --</option>
            @if (Customers != null)
            {
                foreach (var customer in Customers)
                {
                    <option value="@customer.Id">@customer.Name @customer.Description</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label for="contact">ContactPerson</label>
        <InputTextArea @bind-Value="Model.ContactPerson" class="form-control" id="contact"/>
    </div>
    <div class="form-group">
        <label for="customerlogo">Customer logo</label>
        <InputFile OnChange="HandleFileSelection"/>
        @if (isInvalidFileType)
        {
            <ErrorMessage Message="Please remove the invalid file type and select as new image, or leave this field blank"/>
        }
        @if (!string.IsNullOrWhiteSpace(imageDataURL))
        {
            <img src="@imageDataURL" style="height:100px;width:100px"/>
        }
    </div>
    <button class="btn btn-primary" type="submit">
        <span class="oi oi-pencil"></span>
        Create Ticket
    </button>
    <button @onclick="BackToList" class="btn btn-outline-secondary">
        <span class="oi oi-media-skip-backward"></span>
        Back To List
    </button>
</EditForm>

@code {
    private readonly Ticket Model = new();
    private IList<Customer> Customers;
    private IBrowserFile file;
    private bool isSuccess = true;
    private bool isInvalidFileType;
    private string imageDataURL;
    private Stream msFile;

    protected override async Task OnInitializedAsync()
    {
        Customers = await _customerRepo.Get(Endpoints.CustomerEndpoint);
    }

    private async Task HandleCreate()
    {
        if (!isInvalidFileType)
        {
            if (file != null)
            {
                var ext = Path.GetExtension(file.Name);
                var picId = Guid.NewGuid().ToString().Replace("-", "");
                var picName = $"{picId}{ext}";

                Model.Image = picName;
                var buffer = new byte[file.Size];
                await file.OpenReadStream().ReadAsync(buffer);
                Model.File = Convert.ToBase64String(buffer);
            }

            isSuccess = await _repo.Create(Endpoints.TicketEndpoint, Model);
            if (isSuccess)
            {
                _toastService.ShowSuccess("Ticket Created Successfully");
                BackToList();
            }
        }
    }

    private async Task HandleFileSelection(InputFileChangeEventArgs e)
    {
        file = e.File;
        if (file != null)
        {
            var ext = Path.GetExtension(file.Name);
            if (ext.Contains("jpg") || ext.Contains("png") || ext.Contains("jpeg"))
            {
                msFile = file.OpenReadStream();

                var resizedImageFile = await file.RequestImageFileAsync("image/png",
                    100, 100);

                var buffer = new byte[resizedImageFile.Size];
                await resizedImageFile.OpenReadStream().ReadAsync(buffer);

                var imageBase64Data = Convert.ToBase64String(buffer);
                imageDataURL = string.Format("data:image/png;base64,{0}", imageBase64Data);
                isInvalidFileType = false;
            }
            else
            {
                isInvalidFileType = true;
                imageDataURL = string.Empty;
            }
        }
        else
        {
            isInvalidFileType = false;
        }
    }


    private void BackToList()
    {
        _navManager.NavigateTo("/tickets/");
    }

}